{% extends "_base.html" %}
{% block body %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ question.contents }}</div>
		<div class="panel-body">
			<div>
				{{ status.star.image|safe }}
			</div>
			<ul class="list-group">
				{% for a in answers %}
					<li class="list-group-item">
						<h4 class="list-group-item-heading">{{ a.contents|linebreaksbr }}</h4>
						<p class="list-group-item-text date" title='{{ a.date|date:"c" }}'>
							{{ a.date|timesince }}전
						</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block leftButton %}
<button type="button" class="btn btn-default btn-lg" onClick="location.href='{% url 'index' %}'">목록</button>
{% endblock %}
{% block centerLogo %}
	<h1 class="text-center" style="margin: 0;">{{ star.name }}</h1><p class="text-center">{{ star.eng }}</p>
{% endblock %}
{% block rightButton %}
<button type="button" class="btn btn-default btn-lg pull-right" onClick="location.href='{% url 'setting' %}'">설정</button>
{% endblock %}
{% block bottomBody %}
{% endblock %}
{% block script %}
	var numberOfstar = jQuery("g.star").length;
	var dot = jQuery("g.star");

	if(numberOfstar){
		jQuery.each(dot, function(i, v){
			jQuery(this).hide();
		});

		for(var i = 1; i <= {{ status.count }}; i++){
			jQuery("g."+(i).toString()).show();
		}
	}

{% endblock %}
{% block outScript %}
var twk = setInterval(function(){
	jQuery("g.dot.{{ status.count }}").fadeOut("slow").delay(100).fadeIn("slow");
}, 100);
{% endblock %}