{% extends "_base.html" %}
{% block body %}
	<div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
		{% for c in constellations %}
		<div class="item">
			{{ c.stuff.image|safe }}
		</div>
		{% endfor %}
		<div class="item" style="width: 200px;">
			{{ star.image|safe }}
		</div>
		<div class="item" style="width: 200px;">
			{{ star.image|safe }}
		</div>
		<div class="item" style="width: 200px;">
			{{ star.image|safe }}
		</div>
	</div>
{% endblock %}
{% block leftButton %}
<button type="button" class="btn btn-default" onClick="location.href='{% url 'index' %}'">목록</button>
{% endblock %}
{% block centerLogo %}
	<h1 class="text-center" style="margin: 0;">VOM</h1><p class="text-center">Voice Of Mind</p>
{% endblock %}
{% block rightButton %}
<button type="button" class="btn btn-default pull-right" onClick="location.href='{% url 'setting' %}'">설정</button>
{% endblock %}
{% block bottomBody %}
	</form>
	<script src="_static/masonry.pkgd.min.js" type="text/javascript"></script>
{% endblock %}